* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
.App {
  margin: 10px auto;
  max-width: 600px;
}
body {
  background-image: radial-gradient(white, rgb(228, 228, 228));
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 100vh;
}
.btn {
  border: none;
  cursor: pointer;
  font-size: 1.1rem;
  margin: 3px 0;
}
.btn:active {
  border: 1px solid rgba(255, 255, 255, 0);
}
.btn-primary {
  padding: 5px 10px;
  border-radius: 4px;
  background-color: rgb(28, 145, 255);
  color: white;
}
.btn-secondary {
  padding: 5px 10px;
  border-radius: 4px;
  background-color: rgb(16, 192, 0);
  color: white;
}
.btn-error {
  padding: 5px 10px;
  border-radius: 4px;
  background-color: rgb(192, 0, 0);
  color: white;
}
input {
  padding: 8px;
  border: 1px solid gray;
}
